<div class="wisdmbanner">
	<div id="menuoutliner"></div>
	<div id="menuleft">
		<a class="outlined" id="home" href="#">WISDM</a>
		
		<!---
			<a class="outlined admin_page" id="control_panel" href="#">Control Panel</a>
			<a class="outlined admin_page" id="pages" href="#">Pages</a>
		--->
		<a class="outlined" id="terminal" href="#">Terminal</a>
		
		<!---
		<a class="outlined" href="http://jeremymagland.wordpress.com">Blog</a>
		--->
		<!---
		<a class="outlined" id="about" href="#">About</a>
		--->
		
		<!---
		<a href="https://twitter.com/jmagland" class="twitter-follow-button" data-show-count="false">Follow @jmagland</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		--->
		
		
	</div>
	<div id="menuright">		
		<a class="outlined" id="user">Log in</a>
		<div class="submenu">
			<div class="sign"></div>
			<ul class="loggedin">
				<!---<li><a class="loggedin" id="wisdmbanner_profile">View Profile</a></li>--->
				<li><a class="loggedin" id="wisdmbanner_logout">Log out</a></li>
				<li><a class="loggedin" id="wisdmbanner_loginas">Log in as...</a></li>
			</ul>
			<ul class="tologin">
				<li><input type="text" id="wisdmbanner_username" class="submenuitem tologin emptyfield" data-defaulttext="Username" value="Username"></li>
				<li><input type="password" id="wisdmbanner_password" class="submenuitem tologin emptyfield"  data-defaulttext="Password" value="Password"></li>
				<li><button class="tologin" id="wisdmbanner_loginbutton">Log in</button><li>
			</ul>
		</div>
	</div>
</div>
<div class="wisdmbanner_footer">
</div>